.example-card {
    max-width: 400px;
    background: var(--colorPanel);
    color: var(--colorFont);
    transition: var(--transitionTime);

  }
  
  .example-header-image {
    background-size: cover;
    background: var(--colorPanelHover);
  }
