<mat-drawer-container class="container" autosize>

    <mat-drawer #drawer class="sidenav sidenav-custom" mode="over" style="width: 20%;">
        <div style="padding-left: 20px;">

            <a class="button-close" (click)="drawer.toggle()"><span></span></a>
            <ul>

                <div>
                    <a routerLink="/home" routerLinkActive="active">Home</a>
                </div>
                <div>
                    <a routerLink="/test" routerLinkActive="active">test-custom</a>
                </div>

            </ul>
        </div>
    </mat-drawer>

    <mat-toolbar class="top-toolbar">
        <div style="display: flex; align-items: center;">
            <a class="button-menu" (click)="drawer.toggle()"><span></span></a>

            <div style="margin-left: 20px;">
                <span class="color-font">My App</span>
            </div>
        </div>

        <div>
            <button class="theme-button" mat-raised-button (click)="changeTheme(lightTheme = !lightTheme)">Change
                theme!</button>
        </div>
    </mat-toolbar>

    <div style="padding: 20px;">
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>