.container {
    height: 100%;
}

.sidenav-custom {
    background-color: var(--backgroundColor);
    color: var(--colorFont);}

.top-toolbar {
    padding: 20px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    background-color: var(--backgroundColor);
    color: var(--background);
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    transition: var(--transitionTime);
}

.theme-button {
    background-color: var(--buttonColor);
    color: var(--backgroundColor);
}

.color-font {
    color: var(--colorFont);
}

// button-menu
.button-menu {
	position: relative;
	display:  inline-block;
	width: 30px;
    height: 30px;
    margin-top: 6px;
}
.button-menu span {
	margin: 0 auto;
	position: relative;
    top: 12px;
}
.button-menu span:before, .button-menu span:after {
	position: absolute;
	content: '';
}
.button-menu span, .button-menu span:before, .button-menu span:after {
	width: 30px;
	height: 4px;
    background-color: var(--buttonColor);   
    display: block;
    border-radius: 3px;  
}
.button-menu span:before {
	margin-top: -9px;
}
.button-menu span:after {
	margin-top: 9px;
}

// button-close
.button-close {
	position: relative;
	display:  inline-block;
	width: 30px;
    height: 30px;
    margin-top: 15px;
}
.button-close span {
	margin: 0 auto;
	position: relative;
    top: 12px;
}
.button-close span:before, .button-close span:after {
	position: absolute;
	content: '';
}
.button-close span, .button-close span:before, .button-close span:after {
	width: 35px;
	height: 4px;
    background-color: var(--buttonColor);   
    border-radius: 3px;  
}

.button-close span:before {
    -webkit-transform: rotate(45deg); transform: rotate(45deg);
}

.button-close span:after {
    -webkit-transform: rotate(-45deg); transform: rotate(-45deg);
}