

html[theme='light'] {
    --backgroundColor: #FFFFFF;
    --colorFont: #1E1E2C;
    --buttonColor: #1E1E2C;
    --colorPanel: #EBEBEB;
    --colorPanelHover: linear-gradient(-90deg, rgba(32,130,233,1) 0%, rgba(153,0,255,1) 100%);


    --thirdColor: #2D2D44;
    --fourthColor: #33E1ED;    
    }
    
    html[theme='dark']  {
    --backgroundColor: #1E1E2C;
    --colorFont: #FFFFFF;
    --buttonColor: #FFFFFF;
    --colorPanel: #2D2D44; 
    --colorPanelHover:  linear-gradient(-90deg, #fe8c00, #f83600);


    --thirdColor: #2D2D44;
    --fourthColor: #33E1ED;
    }

html, body {
     height: 100%;
     --transitionTime: all .5s ease-in-out;
     }
     
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--backgroundColor);
    transition: var(--transitionTime);
    }  