 
.card-style { 
  height: 15em;
  width: 35em;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
  // background: var(--colorPanel);
  background: var(--colorPanelHover);
  transition: var(--transitionTime);
  filter: grayscale(100%);
  opacity: .1;
}
  .card-style:hover {
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  filter: grayscale(0%);
  opacity: 1;
  transform: scale(1.05);
  }

  .card-style-gradient {
    @extend .card-style;
    background: var(--colorPanelHover);
  }
